body{
    background-color: black;
    color: aliceblue;
}

.nav-div{
    float: left;
    width: 100%;
    background-color: rgb(3, 3, 34);
    box-shadow: 2px 2px 40px rgba(240, 248, 255, 0.674);
    padding: 1% 0% 1% 0%;
}

li{
    display: inline;
    color: aliceblue;
    font-size: 25px;
    font-weight: 700;
    margin: 0% 1% 0% 1%;
}

a{
    text-decoration: none;
}

.main-div{
    float: left;
    width: 100%;
    /* border: 2px solid aliceblue; */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/harrypotter.png);
    background-size: 100% 100%;
    margin: 0.5% 0% 0% 0%;
    height: 520px;
}

.main-div h1{
    text-align: center;
    margin: 15% 0% 0% 0%;
    font-size: 80px;
    font-family: "Rubik Doodle Shadow", serif;
    font-weight: 800;
    box-shadow: 4px 4px 20px aliceblue;
}

.footer-div{
    float: left;
    width: 100%;
    background-color: rgb(3, 3, 34);
    box-shadow: 2px 2px 40px rgba(240, 248, 255, 0.674);
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    margin: 0.2% 0% 0% 0%;
}

.reg-div{
    float: left;
    width: 40%;
    height: 520px;
    /* background-color: aliceblue; */
    margin: 0% 0% 0% 30%;
}

.reg-div input, .reg-div select{
    float: left;
    width: 80%;
    margin: 4% 0% 0% 10%;
    font-size: 30px;
    background-color: transparent;
    border: 2px solid aliceblue;
    color: aliceblue;
    padding: 1% 0% 1% 0%;
    text-align: center;
}

.reg-div button{
    float: left;
    width: 40%;
    margin: 4% 0% 0% 30%;
    font-size: 30px;
}

.view-events-div, .bookings-div{
    float: left;
    width: 100%;
    height: 520px;
    margin: 3% 0% 0% 0%;
    overflow-y: scroll;
}

.view-events-div table, .bookings-div table{
    float: left;
    width: 100%;
    text-align: center;
}

.view-events-div thead, .bookings-div thead{
    font-size: 30px;
}

.view-events-div tbody, .bookings-div tbody{
    font-size: 25px;
}